# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase public
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Supabase private
SUPABASE_SERVICE_ROLE_KEY=

# BTCPay
BTCPAY_SERVER_URL=
BTCPAY_API_KEY=
BTCPAY_STORE_ID=
BTCPAY_WEBHOOK_SECRET=

# Payment
NEXT_PUBLIC_PAYMENT_CURRENCY=USDT
NEXT_PUBLIC_PAYMENT_NETWORK=polygon
